.card{
    box-sizing: border-box;
    box-shadow: 0 15px 50px rgba(177, 185, 252, 1);
    border-radius: 30px;
    background-color: white;
    padding: 30px;
}

.text{
    text-align: center;
}

.allcards{
    margin-top: 15%;
    display: flex;
    justify-content: space-around;
}

.box{
    box-sizing: border-box;
    box-shadow: 0 15px 50px rgba(177, 185, 252, 1);
    border-radius: 30px;
    background-color: white;
    padding: 30px;
    width: 50%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}
