.blueButton {
  background-color: rgba(177, 185, 252, 1);
  width: 200px;
  height: 50px;
  margin-top: 1rem;
  border-radius: 3em;
}

.button {
  padding: 15px 50px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}

.button:hover {
  color: #e8e8e8;
}

.button:hover::before {
  width: 100%;
}

.redButton {
  background-color: rgba(218, 66, 66, 1);
  width: 200px;
  height: 50px;
  margin-top: 1rem;
  border-radius: 3em;
}

.greyButton {
  background-color: rgba(0, 0, 0, 0.57);
  width: 200px;
  height: 50px;
  margin-top: 1rem;
  border-radius: 3em;
}

.greenButton {
  background-color: rgba(104, 193, 102, 1);
  width: 200px;
  height: 50px;
  margin-top: 1rem;
  border-radius: 3em;
}

.backButton {
  background-color: rgba(101, 116, 255, 1);
  width: 200px;
  height: 50px;
  margin-top: 1rem;
  border-radius: 3em;
}

.leftButton {
  left : 0;
  position: absolute;
}

.rightButton {
  right : 0;
  position: absolute;
}

.middleButton {
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}

.fixed {
  bottom : 0;
}