/*Rajouter au fur et à mesure le css valable pour bcp de pages*/
/*Paramétrer les titres pour toutes les pages*/
.title{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-size: 50px;
    background-color: rgba(177, 185, 252, 1);
    text-align: center;
}

.list{
    position: absolute;
    top: 20%;
    left: 30%;
}